img {
    width: 800px;
    height: 450px;
    display: block;
    margin: 20px auto;
    border-radius: 1000px;
    box-shadow: 1px 15px 15px rgba(1, 255, 47, 0.2);
}

h1 {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgba(27, 166, 120, 0.8);
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-left:450px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    
}

h2 {
    text-align: center;
    font-family: "Georgia", serif;
    font-size: 18px;
    color: rgb(53, 125, 52);
    margin-top: 10px;
    font-weight: bold;
}